# Global
.DS_Store
*.swp
*.swo
*~
.idea/
.vscode/

# Environment Variables (Sécurité Maximale)
.env
.env.*
!.env.example
*.env

# Laravel
/api/vendor/
/api/node_modules/
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/auth.json
/api/npm-debug.log
/api/yarn-error.log

# Laravel Build Assets
/api/public/build/
/api/public/css/
/api/public/js/
/api/public/mix-manifest.json

# Logs
/api/storage/logs/*.log

# Frontend
frontend/node_modules
frontend/dist
frontend/.env
frontend/.env.local
frontend/.env.*
