# Laravel
/api/vendor/
/api/node_modules/
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/.env
/api/.env.backup
/api/.env.production
/api/.phpunit.result.cache
/api/Homestead.json
/api/Homestead.yaml
/api/auth.json
/api/npm-debug.log
/api/yarn-error.log

# Laravel Build Assets
/api/public/build/
/api/public/css/
/api/public/js/
/api/public/mix-manifest.json

# IDE
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store

# Logs
/api/storage/logs/*.log

frontend/.env
frontend/node_modules